.DS_Store
/docs

.mpl-cache
.xdg-cache

/analysis-src
!/analysis-src/README.md

/artifact-archive

secrets/*
!secrets/example-*

# Google Drive Paths (for local development)
.github/localenvironment.json 